{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{%block title%}Login!{%endblock%}

{%block content%}

	<div class="row">
		<div class="span12">

			<form action="."  class="form form-horizontal col-md-4 col-md-offset-4" method="post" name="loginform">
				<h1>Login</h1>
				{{ wtf.form_errors(form,"only") }}

				{{ form.hidden_tag() }}
				{{ wtf.form_field(form.user) }}<br>
				{{ wtf.form_field(form.password) }}

				<div class="form-actions">
					<button name="action_save" type="submit" class="btn btn-primary">Salvar</button>
				</div>
			</form>

		</div>
	</div>

{%endblock%}
